html,
body,
#root {
  height: 100%;
}

body {
  background-color: #f8f8f8;
}

.App {
  font-family: sans-serif;
  margin: 2em;
  height: 100%;

  .ListWrapper {
    .myInput {
      background-position: 10px 12px;
      background-repeat: no-repeat;
      width: 466px;
      font-size: 16px;
      padding: 12px 20px 12px 10px;
      border: 1px solid #ddd;
      margin-bottom: 12px;
    }

    .SortButtomStyling {
      font-family: "Source Sans Pro", sans-serif;
      color: white;
      font-size: 16;
      padding: 6px 10px;
      margin-left: 10px;
      margin-right: 10px;
    }

    .ClearButtomStyling {
      font-family: "Source Sans Pro", sans-serif;
      font-size: 14;
      padding: 10px 10px;
      cursor: pointer;
      color: white;
      background-color: #0079b8;
      outline: none;
      cursor: pointer;
      border: 1px solid #0079b8;
    }
  }

  .OrderList {
    Ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      width: 499px;

      li {
        border: 1px solid #ddd;
        margin-top: -1px; /* Prevent double borders */
        background-color: #f6f6f6;
        padding: 8px;
        text-decoration: none;
        font-size: 18px;
        color: black;
        display: block;
      }
    }
  }
}
